{% extends 'blog/base.html' %}
{% load staticfiles %}
{% load static %}

{% block header %}
<header class="masthead" style="background-image: url('{% static " img/home-bg.jpg" %}' )">
<div class="overlay"></div>
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="site-heading">
        <h1>{{category.name}}</h1>
        <span class="subheading">qwerty qwerty qwerty qwerty qwerty</span>
      </div>
    </div>
  </div>
</div>
</header>
{% endblock %}

{% block content %}
<div class="col-sm-12">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <div class="container">
          {% for post in post %}

          <div class="card mb-3">
            <img class="card-img-top" style="max-height: 354px;
    max-width: 755px;" src={% static "img/sample1.jpg" %} alt="Card image" </img>
            <div class="card-body post-preview">

              <a href="{% url 'post_detail' slug=post.slug %}">
                <h2 class="post-title" style="margin-top: 0px;">{{ post.title }}</h2>
              </a>
              <p class="post-meta">Posted by
                <a href="#">{{ post.author }}</a>
                on {{ post.published_date|date:'d M, Y'}} in
                <a href="{% url 'list_post_by_category' category_slug=post.category.slug %}">{{ post.category}}</a>

              </p>
              <p class="card-text">{{ post.text|safe|truncatechars:150 }}
                <a href="{% url 'post_detail' slug=post.slug %}">Read more</a>
              </p>
            </div>
          </div>
          {% endfor %}


        </div>


      </div>

    </div>
  </div>
</div>

{% endblock %}

-webkit-filter: grayscale(1); /* Old WebKit */
filter: grayscale(1);