{% extends 'blog/base.html' %}
{% load hitcount_tags %}


{% block header %}
<header class="masthead"
        {% if post.image %} style="background-image: url({{post.image.url}})">
  {% endif %}
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
              <h1 class='posttitle loader'>{{ post.title }}</h1>
              {% if post.published_date %}
              <span class="meta">Posted by
                <a href="#">{{ post.author}}</a>
                on {{ post.published_date|date:'d M,  Y' }} in
                <a href="{% url 'list_post_by_category' category_slug=post.category.slug %}">{{ post.category}}</a></span>
                views {{ hitcount.total_hits }}
              <h2>{{request.build_absolute_uri}}</h2>
              <h2>{{request.path}}</h2>
              {% else %}
            <a class="btn btn-default" href="{% url 'post_publish' slug=post.slug %}">Publish</a>

        {% endif %}

            </div>
          </div>
        </div>
      </div>
</header>
{% endblock %}

{% block content %}

<!-- Post Content -->
    <article>
      <div class="container" >
        <div class="row" >
          <div class="col-sm-10 offset-1 mx-auto " style="background-color:#FFFFFF;">

            <p class='postcontent' >{{ post.text|safe|linebreaksbr }}</p>







      {% if user.is_authenticated %}
          <a class="btn btn-primary" href="{% url 'post_edit' slug=post.slug %}"><span class="glyphicon glyphicon-pencil"></span></a>
          <a class="btn btn-primary" href="{% url 'post_remove' slug=post.slug %}"><span class="glyphicon glyphicon-remove"></span></a>
      {% endif %}
</div>
</div>
</div>
  <hr>
  <a class="btn btn-primary btn-comment" href="{% url 'add_comment_to_post' slug=post.slug %}">Add comment</a>
  <div class="container">


  {% for comment in post.comments.all %}
  <br>
      {% if user.is_authenticated or comment.approved_comment %}

              {{ comment.created_date }}
              {% if not comment.approved_comment %}
                  <a class="btn btn-default" href="{% url 'comment_remove' slug=post.slug%}"><span class="glyphicon glyphicon-remove"></span></a>
                  <a class="btn btn-default" href="{% url 'comment_approve' slug=post.slug %}"><span class="glyphicon glyphicon-ok"></span></a>
              {% endif %}

          <p>{{ comment.text|safe|linebreaks }}</p>
          <p>Posted by: <strong>{{ comment.author }}</strong></p>

      {% endif %}
  {% empty %}
      <p>No comments posted.</p>
  {% endfor %}
</div>
<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

var disqus_config = function () {
this.page.url = '{{request.build_absolute_uri}}';  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = '{{ requet.path }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://codecuration-1.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>



{% endblock %}
